.hidden {
    display: none;
}

.player {
    margin: 50px;
    border: 2px solid rgb(16, 15, 16);
    padding: 1px;
    background-color: rgb(253, 229, 233);
}

p {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: pink;
    text-align: center;
}